/*css for tp10*/

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:ital,wght@1,200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
#location {
    background:rgb(177, 211, 187);
    width: 100%;
    height: 20vw;
    position: relative;
    font-family: 'Abril Fatface', cursive; 
    font-size: 100px;
}

#temp {
    background: rgb(0, 238, 255);
    width: 100%;
    height: 20vw;
    position: relative;
    font-family: 'Abril Fatface', cursive; 
}

#tempf {
    font-size: 50px;
    float: left;
}

#winddir {
    background:rgb(0, 162, 255);
    width: 100%;
    height: 20vw;
    position: relative;
    font-family: 'Abril Fatface', cursive; 
    font-size: 50px;
}

#windspeed {
    background:rgb(57, 148, 110);
    width:100%;
    height: 20vw;
    position: relative;
    font-family: 'Abril Fatface', cursive; 
    font-size: 50px;
}

#cloudcover {
    background:rgb(148, 146, 57);
    width: 100%;
    height: 20vw;
    position: relative;
    font-family: 'Abril Fatface', cursive; 
    font-size: 50px;
}

#humidity {
    background:rgb(197, 142, 214);
    width: 100%;
    height: 20vw;
    position: relative;
    font-family: 'Abril Fatface', cursive; 
    font-size: 50px;
}


